<footer
    class="bottom-0 left-0 right-0 p-2 text-default-500 shadow-2xl bg-default-50/10 mt-8 flex items-center justify-center py-8 text-slate-400 pt-[100px] pb-6 px-0 gap-1"
>
    Designed and Developed by <a
        href="https://jeff.is-a.dev/"
        target="_blank"
        class="relative before:absolute before:content-[''] before:left-0 before:bottom-[-5px] before:h-[1.25px] before:w-0 before:bg-[repeating-linear-gradient(to_right,var(--dot-color,rgba(255,255,255,0.75)),var(--dot-color,rgba(255,255,255,0.75))_2px,transparent_2px,transparent_3px)] before:transition-all before:duration-300 before:ease-in-out hover:before:w-full w-fit text-sm text-emerald-400"
    >
        Jeff
    </a>
    <a href="https://jeff.is-a.dev/dc">
        <img
            src="/Projects/images/Discord.svg"
            alt="Discord"
            class="transition-all duration-300 ease-in-out hover:scale-110 w-4 h-4 ml-1"
        />
    </a>
</footer>
